
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MQTT Web Project Sample</title>
    <link href="~/lib/Semantic-ui/semantic.min.css" rel="stylesheet" />
    <link href="~/lib/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="banner">
        <div class="title">
            IOT MQTT PROJECT
        </div>
    </div>
    @RenderBody()
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/Semantic-ui/semantic.min.js"></script>
<script src="~/lib/paho.mqtt/paho-mqtt.js"></script>
<script src="~/javascript/site.js" defer></script>
</body>
</html>
